#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
.bottom_shadow{
    @include box-shadow(0, 20px, 110px, $neonBlueLetters);
    height: 1px;
    width: 100%;
}
